# Versiones de los contenedores
MONGODB_VERSION=8.0
GRAYLOG_VERSION=6.3
MAILPIT_VERSION=latest

# Aleatorio, mínimo 64 caracteres
GRAYLOG_PASSWORD_SECRET=1234567890abcdef

# 12345Abcde
GRAYLOG_ROOT_PASSWORD_SHA2=900563a48c044074dc467feac110df09372301dbc10968c2c4491ad2398c93e6

# Red y puertos
GRAYLOG_HOST=localhost
GRAYLOG_PORT=9000
MAILPIT_PORT=8025

# Red de Docker a la que se conectan los contenedores (tiene que existir previamente)
EXTERNAL_NETWORK=ciberseguridad
